.intro-section {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90vh;
}

.intro-title {
        /* display: flex; */
        flex: 1;
}

.intro-image {
        /* display: flex; */
        flex: 1;
}